.title{
  color:#ffdce0;
  font-family:Verdana;
}

.item1{
    background-color: #ef233c;
    border-style:solid;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    width: 270px;
    height: 150px;
    margin-right: 15px;
}

.item2{
    background-color: #a67fdc;
    border-style:solid;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    width: 270px;
    height: 150px;
    margin-right: 15px;
}

.item3{
    background-color:#fca311;
    border-style:solid;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    width: 270px;
    height: 150px;
    margin-right: 15px;
}
