.login-background{
    height: 100vh;
    display: flex;
}
.firstContainer{
    display: flex;
    align-items: center;
    width: 50vw;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    padding-top: 8vh;
    border-right: 1px solid #ced4da;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 40px;
}
.rgukt-logo{
    width: 576px;
    height:58px;
    align-self: flex-start;
}
.right-image{
    width: 580px;
    height: 480px;
}
.first{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15vw;
    padding: 20px;
    height: 80vh;
}
.heading{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "verdana";
    color: #974848;
}
.login-container{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label{
    color: #6c757d;
    font-family: "Arial";
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20%;
    text-align: left;
    margin-bottom: 7px;
}
.input{
    width :80%;
    border:1px solid #c7cdd3;
    border-radius: 5px;
    padding:7px;
    outline:none;
    margin-bottom: 15px;
}

.button{
    margin-top: 10px;
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    border:1px solid #e5e5e5;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: #b1483d;
}
.form-container{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}